################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/xllproject1/v16
/Debug
/x64/Debug
/Release
/x64/Release
/.vs
/x32/xll_regex.exp
/x32/xll_regex.lib
/x32/xll_regex.pdb
/x64/xll_regex.exp
/x64/xll_regex.lib
/x64/xll_regex.pdb
